/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
 }

 .content{
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 }

 
 nav{
    background-color: rgb(62, 71, 80);
    margin: 0;
    padding: 10;
    height: 70px;
    align-content: center;
 }

 nav a{
    font-family: sans-serif;
    margin-left: 60px;
    font-size: 1.3rem;
    color: whitesmoke;
    text-decoration: none;
 }

 nav a:hover{
    font-family: sans-serif;
    margin-left: 60px;
    font-size: 1.3rem;
    color: rgb(169, 168, 168);
    text-decoration: none;
 }

 #tasks{
    padding: 10px;
 }

 #tasks div{
    display: flex;
    flex-direction: row;
 }

 ul{
    list-style-type: none;
 }

 body > li{
    list-style-type: none;
 }

 li div{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgray;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
 }
